/* COMMON RULES */

.card-element {
  border: black 1px solid;
  height: 30px;
  width: 500px;
}

.container {
  max-width: 1300px;
  margin: 60px auto 0 auto;
  background-color: #eee;
}
body {
  font-family: "Maison Neuve Reg";
}
*:focus {
  outline: none;
}
*:visited {
  color: black;
}
a:hover {
  font-weight: 900;
}
/* HEADER */
/* HEADER */
/* HEADER */
.logo {
  height: 35px;
  margin-left: 20px;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: #2aaeb7 solid 1px;
  position: fixed;
  max-width: 1300px;
  margin: -60px auto 0px auto;
  height: 60px;
}
.searchBar {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #eee;
  padding: 0 15px;
  box-sizing: border-box;
  color: #999;
}
.header-button {
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  background-color: #2aaeb7;
  border: 1px solid #2aaeb7;
  color: white;
  padding: 5px 15px;
  margin: 15px;
}
.header-button:hover {
  background-color: white;
  color: #2aaeb7;
}
.header-button > .icon {
  margin-right: 10px;
}

.buttons > button {
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  background-color: #2aaeb7;
}
.hero > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.disconnect {
  background-color: #fc0099;
  border: #fc0099 1px solid;
}
.disconnect:hover {
  color: #fc0099;
  background-color: white;
}
/* MINI CARD SECTION */
/* MINI CARD SECTION */
/* MINI CARD SECTION */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterAsc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 250px;
  cursor: pointer;
  border: #2aaeb7 1px solid;
  color: #2aaeb7;
  border-radius: 15px;
}
.filterAsc:hover {
  color: white;
  background-color: #2aaeb7;
}
.filterPriceMinMax {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterPriceMinMax input {
  height: 30px;
  cursor: pointer;
  border: #2aaeb7 1px solid;
  color: #2aaeb7;
  background-color: white;
  border-radius: 15px;
  padding: 0 10px;
  margin-right: 20px;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 75vh;
}
.card {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  padding: 15px;
  margin: 15px;
  width: 265px;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.card-picture {
  width: 230px;
}
.card-footer {
  font-size: 13px;
  color: grey;
}
.card-footer p:first-child {
  color: black;
}

a {
  text-decoration: none;
}
.pageNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 25px;
}
.eachNumber {
  cursor: pointer;
  margin: 0 20px;
}
.eachNumber:hover {
  font-size: 20px;
  font-weight: 900;
  text-decoration: underline;
}
.pageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

/* OFFERS PAGE */
/* OFFERS PAGE */
/* OFFERS PAGE */
.offers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px 0;
  min-height: 75vh;
}
.pictures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  margin: 30px;
}
.pictures > img {
  height: 100%;
  box-sizing: border-box;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}
.pictures div {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.single-card {
  height: 500px;
  width: 320px;
  background-color: white;
  margin: 30px;
  padding: 30px;
  box-sizing: border-box;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}
.additionalPic {
  height: 150px;
  margin: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.additionalPic:hover {
  border: 2px black solid;
  box-sizing: border-box;
}
.price {
  border-bottom: 1px solid lightgrey;
  padding: 20px 0;
  font-size: 30px;
}
.descript {
  display: flex;
  flex-direction: column;
}
.descript > div {
  width: 100%;
  padding: 10px 0;
  display: flex;
}
.descript > div span {
  width: 50%;
}
.descript div span:first-child {
  color: #999;
}
.buy-button {
  border: #2aaeb7 2px solid;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2aaeb7;
  color: white;
}
.buy-button:hover {
  background-color: white;
  color: #2aaeb7;
}
/* PUBLISH - FORM */
/* PUBLISH - FORM */
/* PUBLISH - FORM */
h3 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
}
.container-form {
  padding-bottom: 25px;
}
.publishForm {
  display: flex;
  background-color: white;
  box-shadow: none;
  margin: 0px auto;
}
.publishForm input {
  height: 40px;
  width: 300px;
  padding: 0 15px;
  border: none;
  border-bottom: lightgray 2px solid;
}
.publishForm input:hover {
  border-bottom: #2aaeb7 2px solid;
}
.dropZone {
  display: flex;
  cursor: pointer;
  color: #2aaeb7;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 250px;
  border: #2aaeb7 2px dashed;
  border-radius: 15px;
}
.publishForm > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.publishForm > div > p {
  width: 50%;
}
.publishForm > div:last-child input {
  font-size: 25px;
  border-radius: 20px;
  border: #2aaeb7 3px solid;
  color: #2aaeb7;
  background-color: white;
}
.publishForm > div:last-child input:hover {
  color: white;
  background-color: #2aaeb7;
}
/* PAYMENT ROUTE */
/* PAYMENT ROUTE */
/* PAYMENT ROUTE */
.payForm {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  margin: 60px auto;
  background-color: #eee;
}
.info-commande {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.info-commande > div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.barre {
  width: 90%;
  border-bottom: 1px grey solid;
}
.total-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.total-section > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.bold {
  font-weight: 900;
}
.card-element {
  margin-top: 20px;
}
.payForm > button {
  width: 70%;
  height: 35px;
  background-color: rgb(24, 173, 24);
  border: none;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}
.payForm > button:hover {
  background-color: rgb(26, 136, 26);
}
.msg-succeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.msg-succeed > p {
  width: 50%;
  padding: auto;
  font-size: 20px;
  text-align: center;
}
/* FORM - MODAL */
/* FORM - MODAL */
/* FORM - MODAL */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 65vh;
  width: 65vw;
  background-color: #eee;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  /* TO FIX ".exit-modal" */
  position: relative;
}
.login form > input {
  display: flex;
  height: 75px;
  width: 80%;
  justify-content: center;
  font-size: 20px;
}
.login p {
  font-size: 50px;
  font-weight: 900;
}
.login input:last-child {
  background-color: #2aaeb7;
  color: white;
  font-weight: 900;
  border-radius: Calc(75px / 2);
  width: 500px;
  border: 2px solid #2aaeb7;
}
input:last-child:hover {
  background-color: white;
  color: #2aaeb7;
  cursor: pointer;
}
.exit-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.exit-modal > .icon {
  font-size: 25px;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: Calc(100%);
  background-color: rgba(0, 0, 0, 0.7);
}
/* FOOTER  */
/* FOOTER  */
/* FOOTER  */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: white;
  border-top: #2aaeb7 solid 1px;
  margin-top: 0;
}
.footer img {
  height: 25px;
}
.footer a {
  color: black;
}
.footer a:hover {
  font-weight: 900;
}
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

.hidden {
  display: none;
}

@media (max-width: 576px) {
  .searchBar {
    width: 45px;
  }
  .header-button:last-child {
    display: none;
  }
  .filterPriceMinMax {
    display: none;
  }
  .publishForm {
    width: 95vw;
  }
}

@media (max-width: 768px) {
  .pictures div {
    display: none;
  }
  .offers {
    flex-direction: column;
  }
  .filterPriceMinMax input {
    width: 80px;
  }
  .publishForm {
    width: 85vw;
    padding: 15px 5px;
  }
}

@media (max-width: 1024px) {
  .media-1024 {
    display: none;
  }
  .hidden {
    display: flex;
  }
  .header-button {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 30px;
    height: 20px;
    /* text-align: center; */
  }
}
